<!DOCTYPE html>
<html>
  <head>
    <title>Ecetasker</title>
    <%=render 'layouts/head_tags'%>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    <section>
      <%= yield %>
    </section>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
